<mat-card class="statics">
  Latest Orders
  <mat-list>
    <mat-list-item class="orders">
      <div class="row">
        <div class="col-md-auto orders-margin">
          <img class="orders-picture" src="assets\photo\tucan-scarf_925x.jpg" alt="Smiley face">
        </div> <br /> 
        <div class="col-md-auto">
          <div class="orders-title">Tucan Scarf</div>
          <div class="fas fa-clock" style="margin: 10px 0px">
            &nbsp; <span class="orders-date">2018/6/13  13:42</span>
          </div> <br /> 
          <div class="fas fa-user">
              &nbsp; <span class="orders-date">Belle Willis</span>
          </div>
        </div>
        <div class="col-md-auto">
            <div class="orders-title">Total </div>
            <div class="orders-title">6900 </div>
          </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</mat-card>