<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <mat-card class="overview">
        <i class="fas fa-hand-holding-usd"></i> TOTAL REVENUE
        <div class="revenue">54,540</div>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card class="overview">
        <i class="fas fa-boxes"></i> TOTAL COST
        <div class="cost">12,660</div>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card class="overview">
        <i class="fas fa-money-bill"></i> TOTAL COST
        <div class="bill">41,880</div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-card class="chart">
        <app-activity-chart></app-activity-chart>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-card class="transaction">
        Transaction Website
        <mat-list>
          <mat-list-item class="website">
            <span class="transaction-icon fab fa-facebook-square"></span> Facebook.com
            <span class="transaction-margin"></span>
            <span class="transaction-number">45836</span>
            <span class="fas fa-arrow-up transaction-up">&nbsp;20%</span> 
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="website">
            <span class="transaction-icon fab fa-google"></span> Google.com
            <span class="transaction-margin"></span>
            <span class="transaction-number">23582</span>
            <span class="fas fa-arrow-up transaction-up">&nbsp;12%</span> 
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="website">
            <span class="transaction-icon fas fa-shopping-bag"></span> Shopify.com
            <span class="transaction-margin"></span>
            <span class="transaction-number">24489</span>
            <span class="fas fa-arrow-down transaction-down">&nbsp;15%</span> 
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="website">
            <span class="transaction-icon fab fa-wordpress"></span>Wordpress.com
            <span class="transaction-margin"></span>
            <span class="transaction-number">1057</span>
            <span class="fas fa-arrow-down transaction-down">&nbsp;30%</span> 
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card class="transaction">SIMPLE</mat-card>
    </div>
  </div>
</div>