<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <mat-card class="overview">
        <i class="fas fa-hand-holding-usd"></i> TOTAL REVENUE
        <div class="revenue">54,540</div>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card class="overview">
        <i class="fas fa-boxes"></i> TOTAL COST
        <div class="cost">12,660</div>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card class="overview">
        <i class="fas fa-money-bill"></i> TOTAL COST
        <div class="bill">41,880</div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-card class="chart">
        <app-activity-chart></app-activity-chart>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <app-websites></app-websites>
    </div>
    <div class="col-sm">
      <app-orders-overview></app-orders-overview>
    </div>
  </div>
</div>