<mat-card class="statics">
    Transaction Website
    <mat-list>
      <mat-list-item class="website">
        <span class="web-icon fab fa-facebook-square"></span> Facebook.com
        <span class="web-margin"></span>
        <span class="web-number web-rwd-margin">45836</span>
        <span class="fas fa-arrow-up up symbol web-rwd-margin">&nbsp;20%</span> 
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="website">
        <span class="web-icon fab fa-google"></span> Google.com
        <span class="web-margin"></span>
        <span class="web-number web-rwd-margin">23582</span>
        <span class="fas fa-arrow-up up symbol web-rwd-margin">&nbsp;12%</span> 
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="website">
        <span class="web-icon fas fa-shopping-bag"></span> Shopify.com
        <span class="web-margin"></span>
        <span class="web-number web-rwd-margin">24489</span>
        <span class="fas fa-arrow-down down symbol web-rwd-margin">&nbsp;15%</span> 
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="website">
        <span class="web-icon fab fa-wordpress"></span>Wordpress.com
        <span class="web-margin"></span>
        <span class="web-number web-rwd-margin">1057</span>
        <span class="fas fa-arrow-down down symbol web-rwd-margin">&nbsp;30%</span> 
      </mat-list-item>
    </mat-list>
  </mat-card>